/*fuentes*/
@font-face
{
    font-family:inter;
    src:url(../font/inter.ttf);
}

/* variables */
:root
{
    --gris:rgb(225,225,225);
    --azul:rgb(0,0,50);

	--portada: #500000;
	--titulo: #b43232;
    --blanco: #ffffff;
    --negro: #000000;
    --sombra: #646464;
}

*
{
    margin:0;
    padding:0;

    box-sizing:border-box;
    font-family:inter;
}

.encabezado
{
    display: grid;
    justify-content: flex-end;
    align-content: flex-end;

	position: relative;
	z-index: 1;
        
	padding: 20px;
    width: 100%;
    height: 300px;
    
    background-color: var(--portada);

	.titulo-cuadro
	{
		padding: 10px;
		background-color: var(--titulo);

		color: var(--blanco);
		font-weight: bold;
		text-align: right;

		.titulo {font-size: 3em;}
		.subtitulo {font-size: 2em;}
	}
}

.menu
{
	display: flex;
	justify-content: center;

    position: sticky;
    top: 0px;

	background-color: var(--titulo);

	.lista-menu
	{
		display: flex;
		list-style:none;

		@media (width < 800px)
		{
			width: 100%;
			li {width: 100%;}
		}

		.item-menu
		{
			display: inline-block;

			padding: 15px;
			width: 110px;
			
			color: var(--blanco);
			text-align: center;
			text-decoration: none;

			transition: linear 0.3s;

			@media (width < 800px) {width: 100%;}

			&:hover
			{
				background-color: var(--portada);
				transition: linear 0.2s;
			}
		}
	}
}

/* contenido */
.contenido
{
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
	gap: 20px;

	margin: auto;
    padding: 20px;

	max-width: 960px;

	@media (width < 800px)
	{
		display: flex;
		flex-direction: column;
	}

	.col-span {grid-column: 1 / 3;}

	.seccion-h2
	{
		padding-bottom: 5px;

		border-bottom: solid 2px var(--titulo);
		font-size: 2em;
	}

	.seccion-parrafo
	{
		line-height: 1.5em;
		margin-block: 1lh;
	}
}

.storyboard
{
	display: grid;
	grid-template-columns: 256px auto;
	align-items: center;
	gap: 20px;

    padding: 80px 20px;
	max-height: 663px;
    
	box-shadow: inset 0px 0px 20px var(--negro);

	background: url(../img/velvet.jpeg) fixed center;
	background-size: cover;

	@media (width < 800px)
	{
		display: flex;
		flex-direction: column;

		padding: 20px;
		max-height: min-content;
	}

	.prevista-storyboard
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		width: 100%;
		max-height: 100%;

		.imagen-serie
		{
			aspect-ratio: 16 / 9;
			width: 100%;

			box-shadow: 0px 0px 20px var(--negro);
			background-color: lightcoral;
		}

		.info-series
		{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			padding: 20px;
			background-color: #00000099;

			.desc-series 
			{
				color: var(--blanco);
				line-height: 1.5em;
			}

			.boton-vermas
			{
				padding: 10px;
				width: 150px;

				background-color: var(--blanco);
				border: none;

				&:hover {cursor: pointer;}
			}
		}
	}

	.boton-storyboard
	{
		overflow-y: scroll;

		display: flex;
		flex-direction: column;
		gap: 20px;

		padding: 20px;
		height: 100%;

		background-color: #00000099;

		@media (width < 800px)
		{
			overflow-x: scroll;
			flex-direction: row;
			width: 100%;
		}

		.boton-series
		{
			padding: 10px;
			background-color: var(--blanco);
			border: none;

			@media (width < 800px)
			{
				min-width: 150px;
			}

			&:hover {cursor: pointer;}
		}
	}
}

footer
{
    padding:30px;
    
    text-align:center;
    color:var(--blanco);
    
    background-color:var(--azul);
}

footer a
{
    color:var(--blanco);
    text-decoration:none;
}

footer a:hover
{
    color:rgb(255,0,255);
}

